<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>\
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

</head>

<body>
    <div class="container mt-5 d-flex flex-column align-items-center">
        <h3 class="mb-4 fw-bold text-center">Subir Imagen</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data"
            style="max-width: 500px; width: 100%;">
            <div class="mb-3 text-center">
                <label for="imagen" class="form-label w-100">Selecciona una imagen:</label>
                <input type="file" id="imagen" class="form-control" (change)="onFileSelected($event)" />
                @if (form.controls["imagen"].invalid && (form.controls["imagen"].dirty ||
                form.controls["imagen"].touched)) {
                <div class="alert alert-danger mt-2">Imagen obligatoria</div>
                }
            </div>
            <div class="mb-3 text-center">
                @if (previewUrl) {
                <img [src]="previewUrl" alt="Vista previa" class="img-fluid rounded shadow"
                    style="max-width:100%; max-height:350px; margin:auto; display:block;" />
                }
            </div>
            <div class="d-flex gap-2">
                <button class="btn btn-secondary w-100" type="button" (click)="cancelar()">
                    <i class="bi bi-arrow-left"></i> Cancelar
                </button>
                <button class="btn btn-success w-100" type="submit" [disabled]="form.invalid">
                    <i class="bi bi-cloud-upload"></i> Subir Imagen
                </button>
            </div>
        </form>
    </div>
</body>

</html>