<div class="container">
    <h1>Usuarios</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Password</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (usuario of usuarios; track $index) {
            <tr>
                <td>{{ usuario.id }}</td>
                <td><a routerLink="usuario/{{usuario.id}}">{{ usuario.nombre }}</a></td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.password }}</td>
                <td>{{ usuario.rol }}</td>
                <td><button class="btn btn-warning" (click)="editarUsuario(usuario)">Editar</button>
                    <span> | </span><button class="btn btn-danger" (click)="eliminarUsuario(usuario.id, usuario.nombre)">Eliminar</button></td>
            </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-primary" type="button" (click)="nuevoUsuario()">Nuevo Usuario</button>
</div>